.length_indicator {
  text-align: right;
  font-size: small;
}

.date {
  font-size: small;
  float: right
}

:host {
  display: block;
  width: 100%;
  > * {
    display: block;
    width: 100%;
  }
}
